@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply disabled:cursor-not-allowed;
  }

  p {
    @apply leading-7 text-gray-800;
  }
}

@layer utilities {
  .btn  {
    @apply transition-colors duration-200 ease-in-out;
  }

  .centered {
    @apply flex justify-center items-center;
  }

  .link {
    @apply text-sky-500 hover:underline hover:text-sky-600;
  }
}

:root {
  font-family: 'Open sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  color: #111;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;

}
