---
import Layout from '@/components/Layout.astro'
import Banner from '@/components/Banner.astro'
import Reviews from '@/components/Reviews'
---

<Layout title="Testimonials - PURaFOG">
	<Banner title="Testimonials" />
	<main>
		<section class="py-24 px-6 lg:px-56 xl:px-72 2xl:px-[25%]">
			<Reviews client:visible />
		</section>
	</main>
</Layout>
