---
import Layout from '@/components/Layout.astro'
import Banner from '@/components/Banner.astro'
import Reviews from '@/components/Reviews.astro'
---

<Layout title="Testimonials - PURaFOG">
	<Banner title="Testimonials" />
	<main>
		<section class="reviews py-60">
			<div class="">
				<Reviews />
			</div>
		</section>
	</main>
</Layout>
