---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<div class="banner bg-green-600 py-12 text-center shadow-xl">
  <h1 class="text-3xl lg:text-5xl text-white font-bold uppercase tracking-wide font-['inter']">
    {title}
  </h1>
</div>
