---
import { Image } from '@astrojs/image/components'
---

<footer class="flex flex-col border-t border-gray-300">
	<div class="flex items-center justify-center flex-col lg:flex-row lg:centered gap-24 py-16">
		<div class="flex flex-col gap-4">
			<Image src="/logo.webp" class="mx-auto" alt="logo" width="128" height="128" />

			<div class="flex gap-2 mx-auto">
				<a href="https://www.facebook.com/PURaFOG/" target="_blank">
					<button class="bg-green-600 hover:bg-green-700 rounded-3xl p-3 text-white">
						<svg
							fill="white"
							width="24"
							height="24"
							viewBox="0 0 320 512"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
							></path>
						</svg>
					</button>
				</a>
				<a href="https://www.linkedin.com/in/pura-fog-765b08201/" target="_blank">
					<button class="bg-green-600 hover:bg-green-700 rounded-3xl p-3 text-white">
						<svg
							fill="white"
							width="24"
							height="24"
							viewBox="0 0 448 512"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
							></path>
						</svg>
					</button>
				</a>
				<a href="https://www.instagram.com/purafog/" target="_blank">
					<button class="bg-green-600 hover:bg-green-700 rounded-3xl p-3 text-white">
						<svg
							fill="white"
							width="24"
							height="24"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 448 512"
						>
							<path
								d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
							></path>
						</svg>
					</button>
				</a>
				<a href="https://g.page/PURaFOG?share" target="_blank">
					<button class="bg-green-600 hover:bg-green-700 rounded-3xl p-3 text-white">
						<svg
							fill="white"
							width="24"
							height="24"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 488 512"
						>
							<path
								d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
							></path>
						</svg>
					</button>
				</a>
			</div>
		</div>

		<div class="flex max-w-md px-4 lg:px-0 flex-col gap-4 w-full h-full">
			<div class="flex gap-3 items-center justify-center">
				<div class="h-[2px] w-8 bg-gray-300"></div>
				<h4 class="text-lg font-medium text-gray-600 whitespace-nowrap">Receive the latest news</h4>
			</div>

			<h2 class="text-2xl text-gray-600 font-bold capitalize text-center">
				Subscribe To Our Weekly Newsletter
			</h2>

			<form class="w-full flex">
				<input
					type="email"
					placeholder="Email address"
					class="px-3 py-4 rounded-md rounded-r-none flex-grow border border-green-600 outline-green-600"
				/>
				<button
					class="uppercase font-bold bg-green-600 hover:bg-green-700 text-white px-6 py-4 rounded-md rounded-l-none"
				>
					Subscribe
				</button>
			</form>
		</div>

		<div class="flex flex-col gap-4 max-w-xs h-full text-gray-600">
			<h2 class="text-2xl font-bold capitalize text-center">Contact us</h2>

			<div class="flex items-center gap-4">
				<svg
					class="fill-gray-700"
					xmlns="http://www.w3.org/2000/svg"
					width="42"
					height="42"
					viewBox="0 0 512 512"
				>
					<path
						d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
					></path>
				</svg>
				<span class="text-xl font-medium">
					<a href="tel:833-364-6653">833-364-6653 aka 833-FOG-MOLD (Call or text)</a>
				</span>
			</div>

			<div class="flex items-center gap-4">
				<svg
					class="fill-gray-700"
					xmlns="http://www.w3.org/2000/svg"
					width="26"
					height="26"
					viewBox="0 0 512 512"
				>
					<path
						d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
					></path>
				</svg>
				<a href="mailto:lisa@purafog.com" class="text-xl font-medium">Lisa@purafog.com</a>
			</div>
		</div>
	</div>

	<div class="w-full flex items-center justify-center bg-green-600 py-4">
		<span class="text-lg text-white font-bold">Copyright PURaFOG &copy; 2020</span>
	</div>
</footer>
