---
import Navbar from './Navbar.astro'
import Footer from './Footer.astro'
import '@/styles/globals.css'
import '@/styles/fonts.css'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/logo-globe.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Mold Remediation, Prevention, Odor Elimination, Virus Sterilization, Protection, and Air Quality Evaluation"
    />
    <meta
      name="keywords"
      content="Mold, Remediation, Prevention, Odor, Elimination, Virus, Sterilization, Protection, Air, Quality, Evaluation"
    />
    <meta name="author" content="Lawrence Good - Lawrence.Good55@Gmail.com" />

    <meta property="og:title" content="PURaFOG" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://purafog.com" />
    <meta property="og:image" content="https://purafog.com/social_card_1280x640.png" />
    <meta
      property="og:image:alt"
      content="Mold Remediation, Prevention, Odor Elimination, Virus Sterilization, Protection, and Air Quality Evaluation."
    />
    <meta
      property="og:description"
      content="Mold Remediation, Prevention, Odor Elimination, Virus Sterilization, Protection, and Air Quality Evaluation."
    />

    <meta name="twitter:site" content="@PURaFOG" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="PURaFOG" />
    <meta
      name="twitter:description"
      content="Mold Remediation, Prevention, Odor Elimination, Virus Sterilization, Protection, and Air Quality Evaluation."
    />
    <meta name="twitter:image" content="https://purafog.com/social_card_1280x640.png" />

    <!-- Preload the font, used for the headings on other pages -->
    <link
      rel="preload"
      href="/fonts/Open_Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <link rel="canonical" href="https://purafog.com/" />
    <link rel="shortlink" href="https://purafog.com/" />

    <!-- On hover of nav element, prefetch it -->
    <!-- <link rel="prefetch" type="text/html" href="https://purafog.com/our-services/"> -->

    <!-- Google tag (gtag.js) -->
    <!-- eslint-disable prettier/prettier -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-5TC5WGHSF2"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-5TC5WGHSF2')
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
