---
import { Image } from '@astrojs/image/components'
---

<head>
  <title>Logo | PURaFOG</title>
  <link rel="icon" type="image/svg+xml" href="/logo-globe.svg" />
</head>
<div class="h-screen w-screen flex flex-col items-center justify-center">
  <Image src="/logo.webp" alt="PURaFOG" width="480" height="480" />
</div>
