---
import routes from '@/routes'
import MobileMenu from './MobileMenu'

const path = Astro.url.pathname
---

<div class="header">
	<div class="banner px-4 py-2 text-center bg-gradient-to-b from-green-700 to-green-500">
		<h3 class="font-bold text-white tracking-wide">
			PURaFOG - YOUR MOLD EXPERT, HOURS 9-5 MON-SAT, 833-364-6653 aka 833-FOG-MOLD (Call or text)
		</h3>
	</div>
	<div class="navbar centered">
		<div class="mobile h-[160px] px-4 py-2 flex lg:hidden items-center justify-between w-full">
			<div class="h-full relative">
				<img src="/logo.webp" alt="logo" class="h-32" />
			</div>
			<a href="tel:833-364-6653" class="font-bold text-xl text-gray-600">833-364-6653</a>
			<MobileMenu routes={routes} path={path} client:visible />
		</div>

		<div class="h-[160px] py-2 gap-8 hidden lg:flex">
			<img src="/logo.webp" alt="logo" />
			<nav class="flex items-center">
				<ul class="flex flex-row">
					{
						routes.map((route) => (
							<li>
								<a
									href={route.path}
									class={[
										'py-2',
										'px-6',
										'text-lg',
										'font-bold',
										'text-gray-600',
										'border-b-4',
										'border-b-transparent',
										path === route.path ? 'border-b-green-600' : '',
										'hover:border-b-green-600',
									].join(' ')}
								>
									{route.name}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
			<div class="centered">
				<button
					class="btn text-white font-bold text-xl px-4 py-3 rounded-md uppercase bg-gradient-to-b from-green-600 to-green-400 hover:from-green-700 hover:to-green-500"
				>
					<a href="/contact-us"> Get a free quote</a>
				</button>
			</div>
		</div>
	</div>
</div>
